<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvdXax14ARcHkOVZZA0Hjtu7NwIp9HKXA</string>
	<key>GCM_SENDER_ID</key>
	<string>89303159364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>IFCE---Aracati.MeGuia</string>
	<key>PROJECT_ID</key>
	<string>meguia-8d463</string>
	<key>STORAGE_BUCKET</key>
	<string>meguia-8d463.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89303159364:ios:88e370eadaabeb2c55a211</string>
</dict>
</plist>